{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Difficulté</th>
                <th>Cout</th>
            </tr>
        </thead>
        <tbody>
 
            <tr>
{% for create_recette in create_recettes %}
                <td>{{ create_recette.TitreRecette }}</td>
                <td>{{ create_recette.Difficulte }}</td>
                <td>
                    <a href="{{ path('create_recette_show', {'id': create_recette.id}) }}">show</a>
                    <a href="{{ path('create_recette_edit', {'id': create_recette.id}) }}">edit</a>

 
                </td>
            </tr>
                    {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
  
        </tbody>
    </table>

    <a href="{{ path('create_recette_new') }}">Create new</a>
{% endblock %}
