{% extends 'base.html.twig' %}

{% block title %}{{ create_recette.TitreRecette }}{% endblock %}

{% block body %}
    <h1>{{ create_recette.TitreRecette }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom recette : </th>
                <td>{{ create_recette.TitreRecette }}</td>
            </tr>
            <tr>
                <th>Présentation : </th>
                <td>{{ create_recette.Presentation }}</td>
            </tr>
            <tr>
                <th>Pour : </th>
                <td>{{ create_recette.NbPersonnes }}</td>
            </tr>
            <tr>
                <th>Temps de préparation : </th>
                <td>{{ create_recette.TempsPreparation ? create_recette.TempsPreparation|date('H : i') : '' }} Heure(s)</td>
            </tr>
           <tr>
                <th>Temps de cuisson : </th>
                <td>{{ create_recette.TempsCuisson ? create_recette.TempsCuisson|date('H : i') : '' }} Heure(s)</td>
            </tr>            
            <tr>
                <th>Difficulté de la recette : </th>
                <td>{{ create_recette.Difficulte }}</td>
            </tr>    
     
        </tbody>
    </table>

    <a href="{{ path('create_recette_index') }}">Retour a mes recettes</a>
    
    <a href="{{ path('create_recette_edit', {'id': create_recette.id}) }}">edit</a>

    {{ include('create_recette/_delete_form.html.twig') }}
    
 
{% endblock %}
